@model IEnumerable<MasterDetails.Models.Client>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="display-4">Client Information</h2>

<div class="d-flex justify-content-end">
    <a href="@Url.Action("Create","Clients")" id="btnCreate" class="btn btn-primary btn-sm mb-2"><i class="fa fa-plus"></i> Add New Client</a>
</div>

<div>
    @foreach (var client in Model)
    {
        <div class="card md-2">
            <div class="card-header d-flex justify-content-between">
                <div>
                    <img src="@client.Picture" width="40" style="border-radius: 8px;"/>
                    <label class="me-2 ms-2"><b>Client : </b>@Html.DisplayFor(x=>client.ClientName)</label>
                </div>
            </div>
        </div>
    }
</div>

