
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="display-4">Client Information</h2>

<div class="d-flex justify-content-end">
    <a href="@Url.Action("Create","Clients")" id="btnCreate" class="btn btn-primary btn-sm mb-2"><i class="fa fa-plus"></i> Add New Client</a>
</div>

